<!DOCTYPE html>
<head>
    <title>WURLS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="centerrect">
        <h1 class="title abcdeidontknow" style="z-index: 9999999;">WURLS</h1>
        <div class="thething abcdeidontknow">
            <h2>Stats</h2>
            <p>Short link: <strong><a href="{{ origin }}/l?url={{ short }}">{{origin}}/l?url={{ short }}</a></strong></p>
            <p>Redirects to: <strong><a href="{{ url }}">{{ url }}</a></strong></p>
            <p>Visits: {{ visits }}</p>
            <details>
                <summary>Show QR code</summary>
                <img src="/qr?url={{ short }}" alt="its the god damn qr code!">
            </details>
        </div>
    </div>
    <div class="footer">
        <a href="/">Homepage</a>&nbsp;
        <a href="/usage">Usage</a>&nbsp;
        <a href="/stats">Stats</a>
    </div>
</body>