<!DOCTYPE html>
<head>
    <title>WURLS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="centerrect">
        <h1 class="title abcdeidontknow" style="z-index: 9999999;">WURLS</h1>
        <div class="thething abcdeidontknow">
            <h1>Usage</h1>
            <h3>To go to a shortened website</h3>
            <p>Go to {{origin }}l/?url= and then whatever your shortened ID is to go to your shortened webpage<br>
                Example: Go to <a href="{{ origin }}l?url=NZPDI">{{ origin }}l?url=NZPDI</a> and that will bring you to https://google.com</p>
            <h3>To see the URL for a shortened website</h3>
                <p>Go to {{origin }}g/?url= and then whatever your URL is to get the shortened link for your URL<br>
                Example: Go to <a href="{{ origin }}g?url=https://google.com">{{ origin }}g?url=https://google.com</a> and that will show you the shortened link</p>
            <h3>To get a QR code of a shortened website</h3>
            <p>Go to https://wurls.4lvaret.tech/qr/?url= and then whatever your shortened ID is to get the QR code for your URL<br>
            Example: Go to https://wurls.4lvaret.tech/qr/?url=NZPDI and that will show you the QR code for Google</p>
        </div>
    </div>
    <div class="footer">
        <a href="/">Homepage</a>
        <a href="/usage">Usage</a>
    </div>
</body>
